@model Placements.InteractiveInvoice.Models.Lineitem

@{
    ViewData["Title"] = "Details";
}

<h2>Lineitem Detail:</h2>

<partial name="_LineitemDetail" model="Model"/>

@foreach (var item in Model.Comments)
{
    <partial name="_CommentSummary" model="item"/>
}

