@model Placements.InteractiveInvoice.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h2>Lineitem Detail:</h2>

<form asp-controller="Lineitem" asp-action="AddComment" asp-route-id="@Model.LineitemID">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="addComment">New Comment</label>
        <textarea asp-for="Body" class="form-control" id="addComment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

<vc:comment-list lineitem-id="@Model.LineitemID"></vc:comment-list>