@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="text-center">
        <h1 class="display-4">Welcome to Placements Interactive Invoice</h1>
        <p>
            Placements Interactive Invoice is a web app which allows users to maintain
            an interactive invoice such as filter, sort, and edit items and also save
            invoices for future reference.
        </p>
    </div>
    <div class="col-md-4">
        <h2>How to use this app</h2>
        <p>You can view and download the completed project from GitHub.</p>
        <p>
            <a class="btn btn-outline-primary" href="https://github.com/j-dong-cs/Placements.InteractiveInvoice">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>

