@model Placements.InteractiveInvoice.Models.Lineitem

@{ var commentsSortByDate = Model.Comments.OrderByDescending(c => c.CreatedDate); }

@foreach(var comment in commentsSortByDate)
{
    <div class="card w-50">
        <div class="card-header">
            Comment
        </div>
        <div class="card-body">
            <h3>@comment.UserName:</h3>
            <p class="card-text">@comment.Body</p>
            <p class="card-text"><small class="text-muted">Created at @comment.CreatedDate</small></p>
        </div>
    </div>
}
